@import url('https://fonts.googleapis.com/css?family=Concert+One');

$primary-color: #009688;
$secondary-color: #000;

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5093ff;
}

body {
  color: #333;
  font-size: 16px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.bg-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #5093ff;
  background: -moz-linear-gradient(left, #5093ff 0%, #38caff 100%);
  background: -webkit-linear-gradient(left, #5093ff 0%, #38caff 100%);
  background: linear-gradient(to left, #5093ff 0%, #38caff 100%);
}

header {
  margin: 10px 0 20px;
  box-sizing: border-box;
  .logo {
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    font-family: 'Concert One', cursive;
    small {
      font-size: 30%;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.col-left,
.col-right {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0.45, 0.15, 0, 1.07);
}

.col-left {
  left: 50%;
  z-index: 1;
  float: left;
  width: 442px;
  margin-left: -221px;
  border-radius: 10px;
  padding: 10px 30px 30px;
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 100%);
}

.col-right {
  width: 0;
  padding: 0;
  opacity: 0;
  float: left;
  left: 150px;
  background: #fff;
}

.container {
  top: 4%;
  left: 10%;
  width: 80%;
  bottom: 4%;
  position: absolute;
  border-radius: 8px;
  &.active {
    .col-left {
      left: 0;
      width: 40%;
      margin-left: 0;
      border-radius: 10px 0 0 10px;
    }
    .col-right {
      left: 0;
      opacity: 1;
      padding: 30px;
      border-radius: 0 10px 10px 0;
      width: calc(60% - 10px);
    }
  }
}

.btn-default,
.btn-secondary {
  width: 100%;
  border: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  padding: 20px 10px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.45, 0.15, 0, 1.07);
  position: relative;
}

.btn-secondary {
  color: #808080;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  &:hover {
    background: darken(#fff, 12%);
  }
  &:active {
    top: 1px;
  }
}

.btn-default {
  position: relative;
  top: -1px;
  color: #fff;
  border-radius: 0 0 4px 4px;
  background: #4caf50;
  &:hover {
    background: darken(#4caf50, 12%);
  }
  &:active {
    top: 0;
  }
}

.camera-container {
  margin: 0 auto;
  .camera-view {
    margin: 0 auto;
    max-width: 380px;
    box-sizing: border-box;
    video {
      width: 100%;
      height: 286px;
      display: block;
      background: #fff;
      border-radius: 4px 4px 0 0;
      box-sizing: border-box;
      border: 2px solid #4caf50;
    }
  }
}

// headings
.primary-heading {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ccc;
}

.profile-pic {
  overflow: hidden;
}

.user-info {
  .user-details {
    margin-left: 280px;
    dt {
      font-weight: bold;
      margin-bottom: 5px;
    }
    dd {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.profile-pic {
  float: left;
  img {
    width: 249px;
  }
}

.registration-form {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #999;
  input[type='text'] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    &.error {
      border-color: rgb(247, 75, 69);
    }
  }
  dl {
    margin-top: 20px;
  }
  dt {
    float: left;
    color: #888;
    margin-top: 10px;
    font-size: 14px;
  }
  dd {
    margin-left: 140px;
    margin-bottom: 12px;
  }
}

.other-matches {
  clear: both;
  padding-top: 20px;
  h4 {
    margin-bottom: 10px;
    font-weight: normal;
  }
  ul {
    list-style: none;
    li {
      float: left;
    }
    img {
      width: 100px;
      display: block;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.45, 0.15, 0, 1.07);
      &:hover {
        opacity: 1 !important;
      }
      &.higher {
        zoom: 1;
      }
      &.medium {
        zoom: 0.8;
        opacity: 0.6;
        margin-top: 25px;
      }
      &.lower {
        zoom: 0.6;
        opacity: 0.4;
        margin-top: 66px;
      }
    }
  }
}
